<a href="https://colab.research.google.com/github/tejasnikumbh999/Task_Guvi/blob/main/Task_MongoDB_Students.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#install server

!pip install dnspython
!pip install pymongo[srv]

Requirement already satisfied: dnspython in /usr/local/lib/python3.7/dist-packages (2.2.0)
Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.7/dist-packages (4.0.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from pymongo[srv]) (2.2.0)

In [ ]:
#imports
import pymongo
from pymongo import MongoClient, InsertOne
import json

In [ ]:
#setup connection
client = pymongo.MongoClient("mongodb+srv://tejas999:tejas999@cluster0.o6jct.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client.Task
records =db.students

In [ ]:
#Add json to database
url='/content/students.json'

In [ ]:
#import json into mongoDB 
#used only while uploading first time

json_std = []
with open(url) as f:
    for jsonObj in f:
        myDict = json.loads(jsonObj)
        json_std.append(InsertOne(myDict))

result = records.bulk_write(json_std)

1)      Find the student name who scored maximum scores in all (exam, quiz and homework) ?

In [34]:
x=records.aggregate([{'$group': {'_id' : {'type' : "$scores.type" },
                                                     'Max_score':{'$max':"$scores.score"}}}])
a={}
for i in x:
  print(i)

{'_id': {'type': ['exam', 'quiz', 'homework']}, 'Max_score': [99.33685767140612, 1.25322762871457, 66.22827571617455]}

In [ ]:
a

[99.33685767140612, 1.25322762871457, 66.22827571617455]

2)      Find students who scored below average in the exam and pass mark is 40%?

3)      Find students who scored below pass mark and assigned them as fail, and above pass mark as pass in all the categories.

4)       Find the total and average of the exam, quiz and homework and store them in a separate collection.

5)      Create a new collection which consists of students who scored below average and above 40% in all the categories.

6)      Create a new collection which consists of students who scored below the fail mark in all the categories.

7)      Create a new collection which consists of students who scored above pass mark in all the categories.